In [1]:
print('hello word')

hello word

In [6]:
import pandas as pd

se=pd.Series([1,2,3,4])
se2=pd.Series({'a':1,'b':2,'c':3})
print(se2)

a    1
b    2
c    3
dtype: int64

In [9]:

index=['a','b','c','d']
val=[1,2,3,4]
se3=pd.Series(val,index=index)
print(se3)

a    1
b    2
c    3
d    4
dtype: int64

In [34]:
dict_obj={'jingzhou':500,'yichang':400,'tianmen':300,'wuhan':200}
s3=pd.Series(dict_obj)
print(s3)
s4=pd.Series(dict_obj,index=['jingzhou','yichang','tianmen','wuhan','huangshi','xiaogan'])
print(s4)
s5=pd.Series({'wuhan':400,'xiaogan':500})
print(s3+s5)

jingzhou    500
yichang     400
tianmen     300
wuhan       200
dtype: int64
jingzhou    500.0
yichang     400.0
tianmen     300.0
wuhan       200.0
huangshi      NaN
xiaogan       NaN
dtype: float64
jingzhou      NaN
tianmen       NaN
wuhan       600.0
xiaogan       NaN
yichang       NaN
dtype: float64

### 两个Series相加，相同的index会将value相加，不相同的value会显示NaN

In [72]:
data={
    'name':['a','b','c'],
    'sex':[1,0,1],
    'some_num':[1.,2.,3.]
}

df=pd.DataFrame(data)
print(df)
df2=pd.DataFrame(data,columns=['name','sex','some_num'],index=['a','b','c'])
print(df2)
df2.index=['b','c','d']
print(df2)

  name  sex  some_num
0    a    1       1.0
1    b    0       2.0
2    c    1       3.0
  name  sex  some_num
a    a    1       1.0
b    b    0       2.0
c    c    1       3.0
  name  sex  some_num
b    a    1       1.0
c    b    0       2.0
d    c    1       3.0

In [53]:
print('index:',df2.index,'columns:',df2.columns)

index: Index(['b', 'c', 'd'], dtype='object') columns: Index(['name', 'sex', 'some_num'], dtype='object')

In [54]:
df2.values

array([['a', 1, 1.0],
       ['b', 0, 2.0],
       ['c', 1, 3.0]], dtype=object)

In [49]:
df.dtypes

name         object
sex           int64
some_num    float64
dtype: object

In [50]:
df.ndim

2

In [51]:
df.shape

(3, 3)

In [57]:
df.size

9

### hotkey
shift+enter=alt+enter

In [75]:
df3=df2.set_index('name')
df3

      sex  some_num
name
a       1       1.0
b       0       2.0
c       1       3.0

In [79]:
df3.sex[:2]

name
a    1
b    0
Name: sex, dtype: int64

In [78]:
df3['sex']

name
a    1
b    0
c    1
Name: sex, dtype: int64

In [84]:
df3.head(2)

      sex  some_num
name
a       1       1.0
b       0       2.0

In [86]:
df3.tail(1)

      sex  some_num
name
c       1       3.0

In [94]:
df3.sample(2,)
# sequence will be randomly eg: ac,ab,bc,acb

      sex  some_num
name
c       1       3.0
a       1       1.0