### Noisy data

**random error or variance in a variable.**

wildly differencce

In [4]:
import pandas as pd

vg=pd.read_csv('../lesson6/vgsales.csv')


below=vg['Global_Sales'].mean()-3*vg['Global_Sales'].std()
above=vg['Global_Sales'].mean()+3*vg['Global_Sales'].std()

outliers=vg[(vg.Global_Sales<below) | (vg.Global_Sales>above)]
# 181
outliers

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
176,177,Assassin's Creed II,X360,2009.0,Action,Ubisoft,3.10,1.56,0.08,0.51,5.27
177,178,Professor Layton and the Curious Village,DS,2007.0,Puzzle,Nintendo,1.22,2.48,1.03,0.52,5.26
178,179,Tomb Raider II,PS,1997.0,Action,Eidos Interactive,2.30,2.46,0.20,0.28,5.24
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
180,181,Dragon Quest VIII: Journey of the Cursed King,PS2,2004.0,Role-Playing,Square Enix,0.65,0.75,3.61,0.20,5.21

In [16]:
# Smoothing outliers by binning(分箱)
# 1.sort data
# 2.equal width vs. equal depth
# 3.mean/median/boundary values

# equal-width
vg['global_sales_bins']=pd.cut(vg.Global_Sales,bins=4,labels=['a','b','c','d'])
vg['global_sales_bins'].value_counts()

a    16580
b       17
d        1
c        0
Name: global_sales_bins, dtype: int64

In [21]:
# equal-depth
vg['global_sales_bins']=pd.qcut(vg.Global_Sales,q=4,labels=['25%','50%','75%','>75%'])
vg['global_sales_bins'].value_counts()

a    4354
d    4146
c    4060
b    4038
Name: global_sales_bins, dtype: int64