<font color=Red>**Note**</font>: In order to make your answer stand out, please use colored text to write your answer. For example, the following code sets font color to blue.

<font color=Blue>我是蓝色</font>

**You should put answer to every question in a different cell, so that the result can be displayed clearly. You can also add cells when necessary.** 

**Rename your Jupyter Notebook file as classNumber_Name, and send it to this email address(1614688593@qq.com) before due date.**

<font color=Red>**Due Date: 2021-03-31 23:59**</font>

# Lab 1 Dataset manipulation with Pandas

This tutorial contains 34 questions. All need to be answered except for Question 18, which is optional.

## 1. Load dataset and overview
Load the video game sales dataset from the vgsales.csv file into a DataFrame object.

**【Q1】Call the common attributes of DataFrame and check their outputs (df.index, df.columns, df.values, df.dtypes, df.ndim, df.shape, df.size).**

**【Q2】How many records and how many attributes does it have?**

In [91]:
import pandas as pd

df=pd.read_csv('./vgsales.csv')
print('df.index:\n',df.index)
print('df.columns:\n',df.columns)
print('df.values:\n',df.values)
print('df.dtypes:\n',df.dtypes)
print('df.ndim:\n',df.ndim)
print('df.shape:\n',df.shape)
print('df.size:\n',df.size)

df.index:
 RangeIndex(start=0, stop=16598, step=1)
df.columns:
 Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')
df.values:
 [[1 'Wii Sports' 'Wii' ... 3.77 8.46 82.74]
 [2 'Super Mario Bros.' 'NES' ... 6.81 0.77 40.24]
 [3 'Mario Kart Wii' 'Wii' ... 3.79 3.31 35.82]
 ...
 [16598 'SCORE International Baja 1000: The Official Game' 'PS2' ... 0.0
  0.0 0.01]
 [16599 'Know How 2' 'DS' ... 0.0 0.0 0.01]
 [16600 'Spirits & Spells' 'GBA' ... 0.0 0.0 0.01]]
df.dtypes:
 Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object
df.ndim:
 2
df.shape:
 (16598, 11)
df.size:
 182578

In [7]:
print('records:',df.shape[0])
print('attributes:',df.shape[1])

records: 16598
attributes: 11

Describe the dataset with the df.describe() method. This method computes simple statistics of the numeric attributes. 

**【Q3】Does the output includes every attribute? If not, which ones are missing, why? What did you find from the simple statistics?**

In [8]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

<font color=Blue>
No, the output just include numeric attributes. 'Name','Platform','Genre','Publisher' are missing, because the dtypes of them is object rather than float64. I find that the total video games is 16598, the max Global_Sales is 82.74 and the min of Global_Sales is 0.01, the records of the table is from 1980 to 2020.
</font>

**Type of data**
1. numeric/continuous
2. nominal/categorical/discrate(a finite pre-specified set of data)

## 2. Data selection

### 2.1 Select one or more rows
- **【Q4】print video games with the top five annual sales (the first 5 rows)**
- **【Q5】print video games with the 5-10 sales (records 5-10)**
- **【Q6】print video games with the least five annual sales (the last 5 rows)**
- **【Q7】print video games with the 1, 10, 50, and 100 sales (index 0, 9, 49 and 99 respectively)**

You can try with different methods, and compare their usage.

In [10]:
print('Q4:\n',df.head(5))
print('Q5:\n',df[5:10])
print('Q6:\n',df.tail(5))
print('Q7:\n',df.iloc[0],df.iloc[9],df.iloc[49],df.loc[99])

Q4:
    Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
Q5:
    Rank                       Name Platform    Year     Genre Publisher  \
5     6                     Tetris       GB  1989.0    Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0  Platform  Nintendo
7     8                   Wii Play      Wii  2006.0      Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0  Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0   Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31
Q6:
         Rank                                              Name Platform  \
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year     Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
16593  2002.0  Platform       Kemco      0.01      0.00       0.0
16594  2003.0   Shooter  Infogrames      0.01      0.00       0.0
16595  2008.0    Racing  Activision      0.00      0.00       0.0
16596  2010.0    Puzzle    7G//AMES      0.00      0.01       0.0
16597  2003.0  Platform     Wanadoo      0.01      0.00       0.0

       Other_Sales  Global_Sales
16593          0.0          0.01
16594          0.0          0.01
16595          0.0          0.01
16596          0.0          0.01
16597          0.0          0.01
Q7:
 Rank                     1
Name            Wii Sports
Platform               Wii
Year                2006.0
Genre               Sports
Publisher         Nintendo
NA_Sales             41.49
EU_Sales             29.02
JP_Sales              3.77
Other_Sales           8.46
Global_Sales         82.74
Name: 0, dtype: object Rank                   10
Name            Duck Hunt
Platform              NES
Year               1984.0
Genre             Shooter
Publisher        Nintendo
NA_Sales            26.93
EU_Sales             0.63
JP_Sales             0.28
Other_Sales          0.47
Global_Sales        28.31
Name: 9, dtype: object Rank                                                   50
Name            Pokemon Omega Ruby/Pokemon Alpha Sapphire
Platform                                              3DS
Year                                               2014.0
Genre                                        Role-Playing
Publisher                                        Nintendo
NA_Sales                                             4.23
EU_Sales                                             3.37
JP_Sales                                             3.08
Other_Sales                                          0.65
Global_Sales                                        11.33
Name: 49, dtype: object Rank                        100
Name              Battlefield 3
Platform                   X360
Year                     2011.0
Genre                   Shooter
Publisher       Electronic Arts
NA_Sales                   4.46
EU_Sales                   2.13
JP_Sales                   0.06
Other_Sales                0.69
Global_Sales               7.34
Name: 99, dtype: object

### 2.2 Select one or more columns
- **【Q8】print video games's names (i.e. the Name column)**
- **【Q9】print the Name, Year and Global_Sales columns**

In [14]:
df['Name']
# df.Name

0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object

In [15]:
df[['Name','Year','Global_Sales']]

                                                   Name    Year  Global_Sales
0                                            Wii Sports  2006.0         82.74
1                                     Super Mario Bros.  1985.0         40.24
2                                        Mario Kart Wii  2008.0         35.82
3                                     Wii Sports Resort  2009.0         33.00
4                              Pokemon Red/Pokemon Blue  1996.0         31.37
...                                                 ...     ...           ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0          0.01
16594                     Men in Black II: Alien Escape  2003.0          0.01
16595  SCORE International Baja 1000: The Official Game  2008.0          0.01
16596                                        Know How 2  2010.0          0.01
16597                                  Spirits & Spells  2003.0          0.01

[16598 rows x 3 columns]

### 2.3 Select chunks
- **【Q10】print the 2-5 attributes of records 2-4**

Note: if you want to use loc(), you need to figure out the names of columns 2-4.

In [17]:
df.iloc[2:4,[2,3,4,5]]

  Platform    Year   Genre Publisher
2      Wii  2008.0  Racing  Nintendo
3      Wii  2009.0  Sports  Nintendo

### 2.4 Select with conditional statements

- **【Q11】Print sales records for 'Super Mario Bros.'**
- **【Q12】Print action games published in 2006.**
- **【Q13】Print the names of the action games published in 2006.**
- **【Q14】Which games were published before 2000 and obtained a sales record greater than 30 million?**
- **【Q15】Which action games obtained a sales record greater than 20 million?**

In [20]:
df[df.Name=='Super Mario Bros.']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
200,201,Super Mario Bros.,GB,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07

In [21]:
df.loc[(df.Genre=='Action') & (df.Year==2006),:]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
100,101,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,3.83,2.19,0.60,0.70,7.31
198,199,Grand Theft Auto: Vice City Stories,PSP,2006.0,Action,Take-Two Interactive,1.70,2.02,0.16,1.21,5.08
360,361,Grand Theft Auto: Liberty City Stories,PS2,2006.0,Action,Take-Two Interactive,1.56,1.40,0.07,0.50,3.54
556,557,LEGO Star Wars II: The Original Trilogy,PS2,2006.0,Action,LucasArts,1.85,0.64,0.01,0.19,2.69
569,570,Hannah Montana,DS,2006.0,Action,Disney Interactive Studios,1.59,0.80,0.00,0.26,2.65
...,...,...,...,...,...,...,...,...,...,...,...
15997,16000,Black Cat,PS2,2006.0,Action,Capcom,0.00,0.00,0.01,0.00,0.01
16023,16026,Rengoku II: The Stairway to H.E.A.V.E.N. (jp s...,PSP,2006.0,Action,Konami Digital Entertainment,0.00,0.00,0.01,0.00,0.01
16035,16038,Kaitou Rousseau,DS,2006.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16230,16233,Hi Hi Puffy AmiYumi: The Genie & the Amp,DS,2006.0,Action,D3Publisher,0.01,0.00,0.00,0.00,0.01
16413,16416,The Godfather (JP sales),X360,2006.0,Action,Electronic Arts,0.00,0.00,0.01,0.00,0.01

In [22]:
df.Name[df.Year==2006]

0                                    Wii Sports
6                         New Super Mario Bros.
7                                      Wii Play
20                Pokemon Diamond/Pokemon Pearl
100      The Legend of Zelda: Twilight Princess
                          ...
16513                           Deal or No Deal
16520      Tengai Makyo: Dai Yon no Mokushiroku
16523                   Style Book: Cinnamoroll
16547                           Bookworm Deluxe
16568                               XI Coliseum
Name: Name, Length: 1008, dtype: object

In [23]:
df.loc[(df.Year<2000) & (df.Global_Sales>30),:]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26

In [24]:
df.loc[(df.Genre=='Action') & (df.Global_Sales>20),:]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81

## 3. Data manipulation

In this section we will practice add/delete rows and columns from a dataset.

**【Q16】Create a data subset (vg50) by selecting the first 50 rows and the Name, Year, Publisher columns, i.e. the basic information of a game.**

In [64]:
vg50=df.loc[:49,['Name','Year','Publisher']]

### 3.1 Add records
- **【Q17】Add the last 10 records from the original vg dataset to the vg50 subset. Print the last 15 records of vg50. What did you find?**

In [65]:
vg50=vg50.append(df.loc[:,['Name','Year','Publisher']].tail(10),ignore_index=True)
vg50
# pd.concat([vg50,vg.tail(10)],sort=True,ignore_index=True)

,Name,Year,Publisher
0,Wii Sports,2006.0,Nintendo
1,Super Mario Bros.,1985.0,Nintendo
2,Mario Kart Wii,2008.0,Nintendo
3,Wii Sports Resort,2009.0,Nintendo
4,Pokemon Red/Pokemon Blue,1996.0,Nintendo
5,Tetris,1989.0,Nintendo
6,New Super Mario Bros.,2006.0,Nintendo
7,Wii Play,2006.0,Nintendo
8,New Super Mario Bros. Wii,2009.0,Nintendo
9,Duck Hunt,1984.0,Nintendo
10,Nintendogs,2005.0,Nintendo
11,Mario Kart DS,2005.0,Nintendo
12,Pokemon Gold/Pokemon Silver,1999.0,Nintendo
13,Wii Fit,2007.0,Nintendo
14,Wii Fit Plus,2009.0,Nintendo
15,Kinect Adventures!,2010.0,Microsoft Game Studios
16,Grand Theft Auto V,2013.0,Take-Two Interactive
17,Grand Theft Auto: San Andreas,2004.0,Take-Two Interactive
18,Super Mario World,1990.0,Nintendo
19,Brain Age: Train Your Brain in Minutes a Day,2005.0,Nintendo
20,Pokemon Diamond/Pokemon Pearl,2006.0,Nintendo
21,Super Mario Land,1989.0,Nintendo
22,Super Mario Bros. 3,1988.0,Nintendo
23,Grand Theft Auto V,2013.0,Take-Two Interactive
24,Grand Theft Auto: Vice City,2002.0,Take-Two Interactive
25,Pokemon Ruby/Pokemon Sapphire,2002.0,Nintendo
26,Pokemon Black/Pokemon White,2010.0,Nintendo
27,Brain Age 2: More Training in Minutes a Day,2005.0,Nintendo
28,Gran Turismo 3: A-Spec,2001.0,Sony Computer Entertainment
29,Call of Duty: Modern Warfare 3,2011.0,Activision
30,Pokémon Yellow: Special Pikachu Edition,1998.0,Nintendo
31,Call of Duty: Black Ops,2010.0,Activision
32,Pokemon X/Pokemon Y,2013.0,Nintendo
33,Call of Duty: Black Ops 3,2015.0,Activision
34,Call of Duty: Black Ops II,2012.0,Activision
35,Call of Duty: Black Ops II,2012.0,Activision
36,Call of Duty: Modern Warfare 2,2009.0,Activision
37,Call of Duty: Modern Warfare 3,2011.0,Activision
38,Grand Theft Auto III,2001.0,Take-Two Interactive
39,Super Smash Bros. Brawl,2008.0,Nintendo
40,Call of Duty: Black Ops,2010.0,Activision
41,Animal Crossing: Wild World,2005.0,Nintendo
42,Mario Kart 7,2011.0,Nintendo
43,Halo 3,2007.0,Microsoft Game Studios
44,Grand Theft Auto V,2014.0,Take-Two Interactive
45,Pokemon HeartGold/Pokemon SoulSilver,2009.0,Nintendo
46,Super Mario 64,1996.0,Nintendo
47,Gran Turismo 4,2004.0,Sony Computer Entertainment
48,Super Mario Galaxy,2007.0,Nintendo
49,Pokemon Omega Ruby/Pokemon Alpha Sapphire,2014.0,Nintendo
50,Mega Brain Boost,2008.0,Majesco Entertainment
51,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,dramatic create
52,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Falcom Corporation
53,Myst IV: Revelation,2004.0,Ubisoft
54,Plushees,2008.0,Destineer
55,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco
56,Men in Black II: Alien Escape,2003.0,Infogrames
57,SCORE International Baja 1000: The Official Game,2008.0,Activision
58,Know How 2,2010.0,7G//AMES
59,Spirits & Spells,2003.0,Wanadoo

<font color=Blue>
I find that:
1. The most best seller is 'Wii Sports' and the worst seller is 'Spirts & Spells';
2. The records sort by 'Global_Sales' in descesng order.
</font>

If we would like continuous index values, we can either set the ignore_index attribute to True when calling the append() method, or use the reset_index() method to reset the index values. Try one of the options and print the last 15 records of the vg50 dataset.

In [66]:
vg50.reset_index().tail(15)

,index,Name,Year,Publisher
45,45,Pokemon HeartGold/Pokemon SoulSilver,2009.0,Nintendo
46,46,Super Mario 64,1996.0,Nintendo
47,47,Gran Turismo 4,2004.0,Sony Computer Entertainment
48,48,Super Mario Galaxy,2007.0,Nintendo
49,49,Pokemon Omega Ruby/Pokemon Alpha Sapphire,2014.0,Nintendo
50,50,Mega Brain Boost,2008.0,Majesco Entertainment
51,51,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,dramatic create
52,52,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Falcom Corporation
53,53,Myst IV: Revelation,2004.0,Ubisoft
54,54,Plushees,2008.0,Destineer
55,55,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco
56,56,Men in Black II: Alien Escape,2003.0,Infogrames
57,57,SCORE International Baja 1000: The Official Game,2008.0,Activision
58,58,Know How 2,2010.0,7G//AMES
59,59,Spirits & Spells,2003.0,Wanadoo

### 3.2 Add columns

- **【Q18】Add the corresponding global sales from the original dataset to the vg50 subset, and set the new column name to Sales.**

In [68]:
vg50['Sales']=pd.concat([df['Global_Sales'][:50],df['Global_Sales'].tail(10)]).reset_index(drop=True)
vg50.tail(12)
# pd.concat([df['Global_Sales'][:50],df['Global_Sales'].tail(10)]).reset_index(drop=True)

,Name,Year,Publisher,Sales
48,Super Mario Galaxy,2007.0,Nintendo,11.52
49,Pokemon Omega Ruby/Pokemon Alpha Sapphire,2014.0,Nintendo,11.33
50,Mega Brain Boost,2008.0,Majesco Entertainment,0.01
51,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,dramatic create,0.01
52,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Falcom Corporation,0.01
53,Myst IV: Revelation,2004.0,Ubisoft,0.01
54,Plushees,2008.0,Destineer,0.01
55,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco,0.01
56,Men in Black II: Alien Escape,2003.0,Infogrames,0.01
57,SCORE International Baja 1000: The Official Game,2008.0,Activision,0.01
58,Know How 2,2010.0,7G//AMES,0.01
59,Spirits & Spells,2003.0,Wanadoo,0.01

### 3.3 Update values

- **【Q19】Set the first record's year to 2004.**
- **【Q20】Change the sales unit from million dollars to dollars (i.e. times 1,000,000)**

In [70]:
df.loc[0,'Year']=2004
df.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2004.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [78]:
def fun(ele):
    return ele*1000000.

df['Global_Sales'].map(fun).head(5)

0    82740000.0
1    40240000.0
2    35820000.0
3    33000000.0
4    31370000.0
Name: Global_Sales, dtype: float64

### 3.4 Compute from existing values

Firstly, **create a new subset with sales records in 2009 (1431 in total)**. For demonstration purpose, here we only select the regional sales columns, i.e. excluding the Global_Sales column. We are going to compute this column.

In [79]:
subset=df.loc[df.Year==2009,['NA_Sales','EU_Sales','JP_Sales','Other_Sales']]
subset

       NA_Sales  EU_Sales  JP_Sales  Other_Sales
3         15.75     11.01      3.28         2.96
8         14.59      7.06      4.70         2.26
14         9.09      8.59      2.53         1.79
36         8.52      3.63      0.08         1.29
45         4.40      2.77      3.96         0.77
...         ...       ...       ...          ...
16540      0.00      0.01      0.00         0.00
16551      0.00      0.00      0.01         0.00
16577      0.00      0.01      0.00         0.00
16586      0.00      0.01      0.00         0.00
16587      0.00      0.00      0.01         0.00

[1431 rows x 4 columns]

- **【Q21】compute the total sales of each game, i.e. the Global_Sales column's value in the original dataset. Compare the computed value with the original value in the dataset.**
- **【Q22】compute the total sales for each region in 2009**

In [80]:
subset['Global_Sales']=subset.apply(lambda x:x.sum(),axis=1)
subset.head(10)

     NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
3       15.75     11.01      3.28         2.96         33.00
8       14.59      7.06      4.70         2.26         28.61
14       9.09      8.59      2.53         1.79         22.00
36       8.52      3.63      0.08         1.29         13.52
45       4.40      2.77      3.96         0.77         11.90
55       4.99      3.69      0.38         1.63         10.69
83       0.98      6.42      0.00         0.71          8.11
102      3.51      3.03      0.00         0.73          7.27
119      3.27      2.25      0.21         1.00          6.73
133      4.34      1.35      0.06         0.61          6.36

In [84]:
subset['Global_Sales'].sum()

667.1

### 3.5 Drop columns and rows

- **【Q23】drop the last column**
- **【Q24】drop columns whose name starts with S**
- **【Q25】drop the 50th record**
- **【Q26】drop records in 2009**

Note: Before drop the columns/records, it is better to check out what are they and how many.

In [92]:
df.drop(df.columns[df.shape[1]-1],axis=1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00

In [96]:
import numpy as np
df['Sport']=np.zeros(df.shape[0])
df.drop([c for c in df.columns if c[:1]=='S'],axis=1)
# df = df[df.columns.drop(list(df.filter(regex='Test\d+')))]
# vg50.loc[:,~vg50.columns.str.startwith('s')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [97]:
df.drop([50])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Sport
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.0
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.0
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.0
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.0
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.0

In [98]:
df.drop(df[df.Year==2009].index)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Sport
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.0
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.0
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.0
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.0
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.0

## 4. Sort data

- **【Q27】What are the top five games sold in Europe in 2009?**
- **【Q28】What are the top five games sold in North America in 2009?**
- **【Q29】What are the top five games sold in Japan in 2009?**

In [99]:
df[df.Year==2009].sort_values('EU_Sales',ascending=False).head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Sport
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.0
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00,0.0
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,0.0
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11,0.0
55,56,Call of Duty: Modern Warfare 2,PS3,2009.0,Shooter,Activision,4.99,3.69,0.38,1.63,10.69,0.0

In [ ]:
df[df.Year==2009].sort_values('NA_Sales',ascending=False).head(5)

In [ ]:
df[df.Year==2009].sort_values('JP_Sales',ascending=False).head(5)

## 5. Data grouping

Use the original video game sales dataset, investigate the following questions.

- **【Q30】What are the sales for each game genre? What are the top three popular game genres globally and across the years?**

Here we only care about the genre and global sales columns, so we can firstly filter these columns. Otherwise, all columns will be aggreated, e.g. sumed, which is unnecessary.

In [105]:
vg=pd.read_csv('./vgsales.csv')
vg.loc[:,['Genre','Global_Sales']].groupby('Genre').agg({'Global_Sales':'sum'}).sort_values('Global_Sales',ascending=False).head(3)

         Global_Sales
Genre
Action        1751.18
Sports        1330.93
Shooter       1037.37

- **【Q31】What are the annual sales for different publishers? What are the largest three game publishers?**

Now we only care about the publishers and the sales columns, so like above, we can firstly filter these columns.

In [106]:
vg[['Publisher','Global_Sales']].groupby('Publisher').agg({'Global_Sales':'sum'}).sort_values('Global_Sales',ascending=False).head(3)

                 Global_Sales
Publisher
Nintendo              1786.56
Electronic Arts       1110.32
Activision             727.46

- **【Q32】What are the total sales for each year?**

Likewise, we first create a subset.

In [108]:
vg[['Year','Global_Sales']].groupby('Year').agg({'Global_Sales':'sum'})

        Global_Sales
Year
1980.0         11.38
1981.0         35.77
1982.0         28.86
1983.0         16.79
1984.0         50.36
1985.0         53.94
1986.0         37.07
1987.0         21.74
1988.0         47.22
1989.0         73.45
1990.0         49.39
1991.0         32.23
1992.0         76.16
1993.0         45.98
1994.0         79.17
1995.0         88.11
1996.0        199.15
1997.0        200.98
1998.0        256.47
1999.0        251.27
2000.0        201.56
2001.0        331.47
2002.0        395.52
2003.0        357.85
2004.0        419.31
2005.0        459.94
2006.0        521.04
2007.0        611.13
2008.0        678.90
2009.0        667.30
2010.0        600.45
2011.0        515.99
2012.0        363.54
2013.0        368.11
2014.0        337.05
2015.0        264.44
2016.0         70.93
2017.0          0.05
2020.0          0.29

- **【Q33】What are the games that have been sold for the longest time and what are their global sales like?**

In [110]:
vg[['Name','Year','Global_Sales']].groupby('Name').agg({'Year':'count','Global_Sales':'sum'}).sort_values('Year',ascending=False)

                                         Year  Global_Sales
Name
Need for Speed: Most Wanted                12         14.08
FIFA 14                                     9         17.14
Ratatouille                                 9          4.46
LEGO Marvel Super Heroes                    9          9.86
Monopoly                                    8          7.70
...                                       ...           ...
The Daring Game for Girls                   0          0.22
Saint                                       0          0.02
TERA                                        0          0.41
Housekeeping                                0          0.04
Shonen Jump's Yu-Gi-Oh! GX Card Almanac     0          0.02

[11493 rows x 2 columns]

## 5. FileIO with Pandas

- **【Q34】Generate a dataset that only contains the game name and its total (i.e. aggregated) sales (that is, the NA_Sales, EU_Sales, JP_Sales, Other_Sales and Global_Sales). Output it to a CSV and to an Excel file respectively. Take screenshots of the output files (e.g. opened in TextEditor and Excel) and paste them below.**

Here we ignore the Rank, Platform, Year, Genre, Publisher columns, and combine sales across different years and platforms for games with the same name.

In [113]:
subset2=vg[['Name','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']].groupby('Name').agg({'NA_Sales':'sum','EU_Sales':'sum','JP_Sales':'sum','Other_Sales':'sum','Global_Sales':'sum'})
subset2.to_csv('subset2.csv')
!pip install xlwt
subset2.to_excel('subset2.xls')

Looking in indexes: http://mirrors.aliyun.com/pypi/simple/
Collecting xlwt
  Downloading http://mirrors.aliyun.com/pypi/packages/44/48/def306413b25c3d01753603b1a222a011b8621aed27cd7f89cbc27e6b0f4/xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0
ipykernel_launcher:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

### Below is screenshot of 'subset2.csv' file
![](./screenshot_of_csv.png)
### Below is screenshot of 'subset2.xls' file
![](./screenshot_of_excel.png)

## 6. Extended manipulation

There are many other possibilities that are not included in our lectures and this tutorial. For example, you can try to integrate multiple datasets using the pd.concat() method. If you have explored other manipulation methods, feel free to write your work below.

In [116]:
pd.__version__

'1.2.4'

In [118]:
data = {1: "You", 2: "And", 3: "Me"}
pd.Series(data, index = [1, 2], name="WhereAmI")

1    You
2    And
Name: WhereAmI, dtype: object

In [119]:
print(vg.to_string())

                                                           Blazer Drive       DS  2008.0  Role-Playing                                    Sega      0.00      0.00      0.01         0.00          0.01
16526  16529                                                                                                                    Onigokko! Portable      PSP  2013.0     Adventure                               Alchemist      0.00      0.00      0.01         0.00          0.01
16527  16530                                                                                                             Hoshizora no Comic Garden       DS  2008.0     Adventure                             D3Publisher      0.00      0.00      0.01         0.00          0.01
16528  16531                                                                                                                     Kiniro no Corda 3      3DS  2015.0     Adventure                              Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16529  16532                                                                                   Hirameki Action: Chibikko Wagyan no Daiki na Bouken       DS  2009.0        Action                      Namco Bandai Games      0.00      0.00      0.01         0.00          0.01
16530  16533                                                                                                              Sébastien Loeb Rally Evo     XOne  2016.0        Racing                         Milestone S.r.l      0.00      0.01      0.00         0.00          0.01
16531  16534                                                                                                                         Hitman (2016)     XOne  2016.0        Action                             Square Enix      0.00      0.01      0.00         0.00          0.01
16532  16535                                                                                                               STORM: Frontline Nation       PC  2011.0      Strategy                                 Unknown      0.00      0.01      0.00         0.00          0.01
16533  16536                                                                                                           Metal Gear Solid HD Edition     X360  2011.0        Action            Konami Digital Entertainment      0.00      0.00      0.01         0.00          0.01
16534  16537                                                                                                                        Time Travelers      PSP  2012.0     Adventure                                 Level 5      0.00      0.00      0.01         0.00          0.01
16535  16538                                                                                                                          Mushi Bugyou      3DS  2013.0        Action                      Namco Bandai Games      0.00      0.00      0.01         0.00          0.01
16536  16539                                                                                                            Patrician IV: Gold Edition       PC  2011.0          Misc                           Kalypso Media      0.00      0.01      0.00         0.00          0.01
16537  16540                                                                                                       Transformers: Fall of Cybertron       PC  2012.0        Action                              Activision      0.01      0.00      0.00         0.00          0.01
16538  16541                                                                                                 Sea Monsters: A Prehistoric Adventure       DS  2007.0     Adventure                               DSI Games      0.01      0.00      0.00         0.00          0.01
16539  16542                                                                                                             Spore Galactic Adventures       PC  2009.0      Strategy                         Electronic Arts      0.00      0.01      0.00         0.00          0.01
16540  16543                                                                                                                               15 Days       PC  2009.0     Adventure                       DTP Entertainment      0.00      0.01      0.00         0.00          0.01
16541  16544                                                                                                                       Battle Fantasia      PS3  2008.0      Fighting                               505 Games      0.00      0.00      0.01         0.00          0.01
16542  16545                                                                                   Mario & Luigi: Paper Jam & Mario Kart 7 Double Pack      3DS  2015.0          Misc                                Nintendo      0.00      0.00      0.01         0.00          0.01
16543  16546                                                                                                                Driving Simulator 2011       PC  2011.0        Racing                                     NaN      0.00      0.01      0.00         0.00          0.01
16544  16547                                                                                                      Imagine Figure Skater (JP sales)       DS  2007.0        Sports                                 Ubisoft      0.00      0.00      0.01         0.00          0.01
16545  16548                                                                         The Treasures of Mystery Island 3 Pack - Save Mystery Island!       PC  2011.0        Puzzle                                 Unknown      0.01      0.00      0.00         0.00          0.01
16546  16549                                                                                                          Hyakki Yagyou Kaidan Romance      PSP  2012.0        Action                                Quinrose      0.00      0.00      0.01         0.00          0.01
16547  16550                                                                                                                       Bookworm Deluxe       PC  2006.0        Puzzle                            PopCap Games      0.01      0.00      0.00         0.00          0.01
16548  16551                                                                                                   Hakuoki: Reimeiroku - Omouhase Kara      PSV  2015.0        Action                            Idea Factory      0.00      0.00      0.01         0.00          0.01
16549  16552                                                                                                            E.T. The Extra-Terrestrial      GBA  2001.0        Action                                NewKidCo      0.01      0.00      0.00         0.00          0.01
16550  16553                                                                  God Eater Off Shot: Tachibana Sakuya-hen Twin Pack & Animation Vol.7      PS4  2016.0        Action                      Namco Bandai Games      0.00      0.00      0.01         0.00          0.01
16551  16554                                                                                                                    Sweet Honey Coming      PS2  2009.0     Adventure                         Kadokawa Shoten      0.00      0.00      0.01         0.00          0.01
16552  16555                                                                                              Mahou Sensei Negima!? Neo-Pactio Fight!!      Wii  2007.0      Fighting                   Marvelous Interactive      0.00      0.00      0.01         0.00          0.01
16553  16556                                                                                                                        Bound By Flame     X360  2014.0  Role-Playing                                     NaN      0.00      0.01      0.00         0.00          0.01
16554  16557                                                                                                                     Psychic Detective       PS  1995.0     Adventure                         Electronic Arts      0.01      0.00      0.00         0.00          0.01
16555  16558                                                                                                 Codename: Panzers Complete Collection       PC  2016.0      Strategy                            Nordic Games      0.00      0.01      0.00         0.00          0.01
16556  16559                                                                                               Super Robot Taisen: Original Generation      GBA  2002.0  Role-Playing                               Banpresto      0.01      0.00      0.00         0.00          0.01
16557  16560                                                                                                             Dramatical Murder Re:code      PSV  2014.0     Adventure                               Nitroplus      0.00      0.00      0.01         0.00          0.01
16558  16561                                                                                                             Pro Evolution Soccer 2008       PC  2007.0        Sports            Konami Digital Entertainment      0.00      0.01      0.00         0.00          0.01
16559  16562                                                                                          Sugar + Spice! Anoko no Suteki na Nanimokamo      PS2  2008.0     Adventure                               Alchemist      0.00      0.00      0.01         0.00          0.01
16560  16563                                                                                                                     Hanasaku Manimani      PSV  2014.0     Adventure                                     5pb      0.00      0.00      0.01         0.00          0.01
16561  16564                                                                                                                        Kanokon: Esuii      PS2  2008.0     Adventure                                     5pb      0.00      0.00      0.01         0.00          0.01
16562  16565                                                                                                                          Mighty No. 9     XOne  2016.0      Platform                             Deep Silver      0.01      0.00      0.00         0.00          0.01
16563  16566                                                                                                        Mortal Kombat: Deadly Alliance      GBA  2002.0      Fighting                            Midway Games      0.01      0.00      0.00         0.00          0.01
16564  16567                                                                                         Original Frisbee Disc Sports: Ultimate & Golf       DS  2007.0        Action               Destination Software, Inc      0.01      0.00      0.00         0.00          0.01
16565  16568                                                                                                                             Teslagrad      PSV  2015.0      Platform                              Rain Games      0.00      0.01      0.00         0.00          0.01
16566  16569                                                                                                                        End of Nations       PC  2012.0      Strategy                            Trion Worlds      0.01      0.00      0.00         0.00          0.01
16567  16570                                                        Fujiko F. Fujio Characters: Great Assembly! Slightly Fantastic Slapstick Party      3DS  2014.0        Action                      Namco Bandai Games      0.00      0.00      0.01         0.00          0.01
16568  16571                                                                                                                           XI Coliseum      PSP  2006.0        Puzzle             Sony Computer Entertainment      0.00      0.00      0.01         0.00          0.01
16569  16572                                                                                                                    Resident Evil 4 HD     XOne  2016.0       Shooter                                  Capcom      0.01      0.00      0.00         0.00          0.01
16570  16573                                                                                                         Farming 2017 - The Simulation      PS4  2016.0    Simulation                       UIG Entertainment      0.00      0.01      0.00         0.00          0.01
16571  16574                                                                                            Grisaia no Kajitsu: La Fruit de la Grisaia      PSP  2013.0     Adventure                               Prototype      0.00      0.00      0.01         0.00          0.01
16572  16575                                                                                                      Scarlett: Nichijou no Kyoukaisen      PS2  2008.0     Adventure                         Kadokawa Shoten      0.00      0.00      0.01         0.00          0.01
16573  16576                                                                                                                   Mini Desktop Racing      Wii  2007.0        Racing                          Popcorn Arcade      0.01      0.00      0.00         0.00          0.01
16574  16577                                                                             Yattaman Wii: BikkuriDokkiri Machine de Mou Race da Koron      Wii  2008.0        Racing                             Takara Tomy      0.00      0.00      0.01         0.00          0.01
16575  16578                                                                                                                 Neo Angelique Special      PSP  2008.0     Adventure                              Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16576  16579                                                                                                                     Rugby Challenge 3     XOne  2016.0        Sports                    Alternative Software      0.00      0.01      0.00         0.00          0.01
16577  16580                                                                                                                             Damnation       PC  2009.0       Shooter                             Codemasters      0.00      0.01      0.00         0.00          0.01
16578  16581                                                                                                         Outdoors Unleashed: Africa 3D      3DS  2011.0        Sports                                 Mastiff      0.01      0.00      0.00         0.00          0.01
16579  16582                                                                                                                     PGA European Tour      N64  2000.0        Sports                              Infogrames      0.01      0.00      0.00         0.00          0.01
16580  16583                                                                                                                             Real Rode      PS2  2008.0     Adventure                         Kadokawa Shoten      0.00      0.00      0.01         0.00          0.01
16581  16584                                                                                                                             Fit & Fun      Wii  2011.0        Sports                                 Unknown      0.00      0.01      0.00         0.00          0.01
16582  16585                                                                                                                       Planet Monsters      GBA  2001.0        Action                                   Titus      0.01      0.00      0.00         0.00          0.01
16583  16586                                                                                                                        Carmageddon 64      N64  1999.0        Action                      Virgin Interactive      0.01      0.00      0.00         0.00          0.01
16584  16587                                                                                                                      Bust-A-Move 3000       GC  2003.0        Puzzle                                 Ubisoft      0.01      0.00      0.00         0.00          0.01
16585  16588                                                                                                                                Breach       PC  2011.0       Shooter                               Destineer      0.01      0.00      0.00         0.00          0.01
16586  16589                                                                                                        Secret Files 2: Puritas Cordis       DS  2009.0     Adventure                             Deep Silver      0.00      0.01      0.00         0.00          0.01
16587  16590                                                                                                              Mezase!! Tsuri Master DS       DS  2009.0        Sports                             Hudson Soft      0.00      0.00      0.01         0.00          0.01
16588  16591                                                                                                                      Mega Brain Boost       DS  2008.0        Puzzle                   Majesco Entertainment      0.01      0.00      0.00         0.00          0.01
16589  16592                                                                               Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru      PSV  2016.0        Action                         dramatic create      0.00      0.00      0.01         0.00          0.01
16590  16593                                                                           Eiyuu Densetsu: Sora no Kiseki Material Collection Portable      PSP  2007.0  Role-Playing                      Falcom Corporation      0.00      0.00      0.01         0.00          0.01
16591  16594                                                                                                                   Myst IV: Revelation       PC  2004.0     Adventure                                 Ubisoft      0.01      0.00      0.00         0.00          0.01
16592  16595                                                                                                                              Plushees       DS  2008.0    Simulation                               Destineer      0.01      0.00      0.00         0.00          0.01
16593  16596                                                                                                    Woody Woodpecker in Crazy Castle 5      GBA  2002.0      Platform                                   Kemco      0.01      0.00      0.00         0.00          0.01
16594  16597                                                                                                         Men in Black II: Alien Escape       GC  2003.0       Shooter                              Infogrames      0.01      0.00      0.00         0.00          0.01
16595  16598                                                                                      SCORE International Baja 1000: The Official Game      PS2  2008.0        Racing                              Activision      0.00      0.00      0.00         0.00          0.01
16596  16599                                                                                                                            Know How 2       DS  2010.0        Puzzle                                7G//AMES      0.00      0.01      0.00         0.00          0.01
16597  16600                                                                                                                      Spirits & Spells      GBA  2003.0      Platform                                 Wanadoo      0.01      0.00      0.00         0.00          0.01